body {
  /* page body */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  justify-content: center;
  background-color: rgb(255, 228, 196);
}
.blog__card {
  min-width: 128px;
  max-width: 256px;
  min-height: 128px;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 250, 250);
}

/* image  */
.card__img {
  height: 100%;
  width: 100%;
}

.card__img img {
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

/* body */
.card__content {
  padding: 1rem;
  padding-top: 0;
}

/* Card body elements */
.card-body h2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  opacity: 50%;
}

.card-body h1 {
  font-size: 1.3125rem;
  margin-bottom: 1.5rem;
}
.cardBody p {
  font-size: 14.4px;
  opacity: 60%;
}

/* footer */
.card__footer {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* footer - author link */
.footer__right a {
  color: rgb(109, 109, 235);
  text-decoration: none;
}

/* important units to remember
em
rem
px - most complex unit - 1px is the smallest pixel on screen to see the line on different screen
ch - measure the width of the character 0 of your font
vh - viewport unit
*/

/* 
Min-width - atleast
Max-width - atmost 
*/
